.catalogue {
  padding-bottom: 30px;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link {
    transition: color 0.3s;

    &:hover {
      color: $bold-color;
    }
  }
}
