.recipes-section {
  padding-bottom: 65px;

  &__title {
    margin-bottom: 22px;
  }

  &__img-wrapper {
    margin-bottom: 44px;
    max-height: 230px;

    @include media-w($sm) {
      max-height: unset;
      height: 230px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }


}
