.about {
  padding-bottom: 120px;

  @include media-w($xs) {
    padding-bottom: 55px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__info {
    color: $white-bg;
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;

    @include media-w($sm) {
      font-size: 18px;
    }
  }

  &__inner {
    max-width: 1300px;
    padding: 30px 50px 60px 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green-main;

    @include media-w($lg) {
      padding-left: 35px;
      padding-right: 35px;
    }

    @include media-w(600px) {
      flex-direction: column;
    }

    @include media-w($xs) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__blockquote {
    max-width: 890px;
    padding-top: 40px;
    margin-right: 50px;

    p {
      margin-bottom: 20px;

      @include media-w(840px) {
        margin-bottom: 0;
      }
    }

    @include media-w($md) {
      margin-right: 20px;
    }

    @include media-w(840px) {
      .about__figcaption {
        display: none;
      }
    }

    @include media-w($sm) {
      padding-top: 0;
    }

    @include media-w(600px) {
      margin-right: 0;
      margin-bottom: 45px;
    }
  }

  &__figcaption {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: $black-main;
    text-align: right;
    font-weight: 700;

    @include media-w(840px) {
      text-align: center;
    }

    @include media-w(600px) {
      max-width: 196px;
    }
  }

  &__img-wrapper {
    flex: none;
    max-width: 210px;
    width: 100%;

    @include media-w($md) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    @include media-w(600px) {
      max-width: 100%;
      flex-wrap: unset;
    }

    .about__figcaption {
      display: none;

      @include media-w(840px) {
        display: block;
      }

      @include media-w(600px) {
        text-align: left;
      }
    }
  }

  &__img {
    object-fit: cover;

    @include media-w(840px) {
      margin-bottom: 10px;
    }

    @include media-w(600px) {
      margin-bottom: 0;
      max-width: 25%;
      margin-right: 15px;
    }

    @include media-w($xs) {
      max-width: 30%;
    }
  }

  &__benefits {
    margin-bottom: 45px;
  }
}