<div class="categories-bottom">
    <div class="container">
        <ul class="categories-list">
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/1.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Мясо
                        </span>
                </a>
            </li>
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/2.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Морепродукты
                        </span>
                </a>
            </li>
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/3.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Все для курения
                        </span>
                </a>
            </li>
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/4.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Напитки
                        </span>
                </a>
            </li>
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/5.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Бакалея
                        </span>
                </a>
            </li>
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/6.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Снеки
                        </span>
                </a>
            </li>
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/7.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Орехи
                        </span>
                </a>
            </li>
            <li class="categories-list__item">
                <a class="categories-list__link" href="#">
                    <div class="categories-list__img-wrapper">
                        <img class="categories-list__img" src="img/categories-list/8.png" alt="product photo">
                    </div>
                    <span class="categories-list__title">
                            Специи
                        </span>
                </a>
            </li>
        </ul>
    </div>
</div>
