<section class="related-products">
    <h2 class="related-products__title">
        Вас может заинтересовать
    </h2>

    <ul class="related-products__list">
        <li class="related-products__item">
            <article class="product-card">
                <a class="product-card__top" href="#">
                    <div class="product-card__img-wrapper">
                        <img class="product-card__img" src="img/categories-tabs/1.jpg" alt="Product img">
                    </div>

                    <div class="product-card__content">
                        <div class="product-card__title">чипсы Delicados nachos</div>
                        <div class="product-card__desc">кукурузные оригинальные 500 г</div>
                        <div class="product-card__pricing">
                            <div class="product-card__price">Цена от 1шт: <span>от 45р/шт.</span></div>
                            <div class="product-card__price">Цена от 10шт: <span>от 35р/шт.</span></div>
                        </div>
                    </div>
                </a>
                <button class="product-card__buy" type="button">Купить</button>
            </article>
        </li>
        <li class="related-products__item">
            <article class="product-card">
                <a class="product-card__top" href="#">
                    <div class="product-card__img-wrapper">
                        <img class="product-card__img" src="img/categories-tabs/1.jpg" alt="Product img">
                    </div>

                    <div class="product-card__content">
                        <div class="product-card__title">чипсы Delicados nachos</div>
                        <div class="product-card__desc">кукурузные оригинальные 500 г</div>
                        <div class="product-card__pricing">
                            <div class="product-card__price">Цена от 1шт: <span>от 45р/шт.</span></div>
                            <div class="product-card__price">Цена от 10шт: <span>от 35р/шт.</span></div>
                        </div>
                    </div>
                </a>
                <button class="product-card__buy" type="button">Купить</button>
            </article>
        </li>
    </ul>
</section>