<div class="shop-description">
    <p>
        Торговый дом “Сибиряк” - сеть розничных магазинов в Краснодаре по продаже продуктов питания. Мы являемся
        эксклюзивным дистрибьютором таких компаний как: СибБалт, АСТНА на юге России.
    </p>

    <p>
        Мы рады предложить Вам огромный ассортимент высококачественной продукции по привлекательным ценам.
    </p>

    <p>
        Приглашаем к сотрудничеству дилеров, оптовых и розничных покупателей.
    </p>

    <p>
        Мы стремимся к тому, чтобы Вы всегда оставались довольны работой с нами.
    </p>
</div>