.categories-list {
  display: flex;
  justify-content: space-between;

  &__item {
    width: 100%;
    border: 1px solid $grey-border;
    color: $black-main;
    transition: border-color 0.3s;

    @include media-w($md) {
      min-width: 160px;
    }

    &:hover {
      border-color: $green-main;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 11px;
    height: 100%;

    @include media-w($md) {
      padding: 9px 11px;
    }
  }

  &__img-wrapper {
    max-width: 72px;
    max-height: 72px;
    margin-bottom: 5px;
  }

  &__title {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;
    text-align: center;
  }
}